// compileCompressed: ../css/$1.css
.jane-hunt-list {
  margin: 0 auto;
  padding: 0;
  display: table;
  font-size: 0;
  list-style: none;
  display: table;
  li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    img {

    }
  }
  li:not(:first-child) {
    margin-left: 5px;
  }
}
.os-lists {
  margin: 23px 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  li {
    display: inline-block;
    list-style: none;
  }
  li:not(:first-child){
    margin-left: 15px;
  }
}
.social-list {
  display: table;
  margin: 27px auto 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;

  }
  li:not(:first-child){
    margin-left: 10px;

  }
}
.footer-list {
  display: table;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  li {
    display: inline-block;
    list-style: none;
    a {
        font-size: 16px;
        text-decoration: none;
        color: #848484;
    }
    font-weight: 300px;


  }
  li:not(:first-child){
    margin-left: 37px;
  }
}
