// compileCompressed: ../css/$1.css
@media screen and (max-width: 944px) {
  .ng{
    &_header {
      &__top-nav {
        margin-top: 20px;
        min-width: 100%;
          float: left!important;


      }
    }
  }
}
@media screen and (max-width: 650px){
  .ng{
    &_header {
      &__top-nav {

        width: 100%;
        position: relative;
        .search-form {
          max-width: 45%;
          width: 500px;
          position: relative;
          input {
            width: 100%!important;
            padding-right: 0!important;
          }
        }
        .category {
          display: none;
        }

        }
      }
    }
  }

.ng {
  &_header {
    width: 100%;
    display: table;
    &__logo, &__top-nav {
      display: inline-block;

    }
    &__logo {
      max-width: 30%;
      margin-right: 145px;
      text-align: left;
    };
    &__top-nav {
      max-width: 70%;
        float: right;




        .search-form , .acc-buttons {
          display: inline-block;
          height: 50px;
        }
        .search-form {
          color: rgb(231,231,231);
          margin-right: 25px;
          font-size: 15px; //Set normall font size whent font will be

          position: relative;
          ::-webkit-input-placeholder {color:rgb(231,231,231);}
          ::-moz-placeholder          {color:rgb(231,231,231);}/* Firefox 19+ */
          :-moz-placeholder           {color:rgb(231,231,231);}/* Firefox 18- */
          :-ms-input-placeholder      {color:rgb(231,231,231);}
          input {


            &[placeholder]{

              font-family: inherit;
              font-size: inherit;
              font-style: italic;

            }

            width: 442px;
            padding:14px 190px 14px 40px;
            background-color: white;
            border: 1px solid rgb(232,232,232);
            border-radius: 5px;
          }
          // td {
          //
          // }
          .search-options {
            position: absolute;
             margin: auto;
              top: 0;  bottom: 0; right: 0;
            vertical-align: middle;
            color: inherit;


          }
          .down-arrow {
            padding-right: 10px;
          }
          .category, .search-next {
              border-left: 1px solid rgb(232,232,232);
               padding: 2px 10px;

          }
          .search-icon {
            padding: 16px 8px 0 8px;
            position: absolute;
            top: 0;
            left:0;

          }

        }
        .acc-buttons {
          color: rgb(159,159,159);
          vertical-align: middle;
          background-color: white;
          border: 1px solid rgb(232,232,232);
          border-radius: 5px;
          font-size: 14px;

          td {
            padding: 8px 15px;
            text-align: center;

          }
        }
      

    }
  }
}
