@import "grid-system/variables";

@media only screen and (max-width: 765px) {
  .search-form {
    width: 420px!important;

  }
  .logo-container {
    img {
      width: 300px!important;
    }
  }
  .logo-container {
    img {
      width: 400px!important;
    }
  }
}
@media only screen and (max-width: 544px) {
  .search-form {
    width: 100%!important;

  }
  .logo-container {
    img {
      width: 250px!important;
    }
  }
}
