
@mixin inline-list {
  font-size: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}
@mixin gradient {
  background: -moz-linear-gradient(top, rgb(219, 238, 242) );
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) ,rgb(205, 210, 240));
  background: -o-linear-gradient(top, rgb(219, 238, 242));
  background: -ms-linear-gradient(top, rgb(219, 238, 242));
  background: linear-gradient(top, rgb(219, 238, 242));
}
@mixin box-shadow {
  -webkit-box-shadow: 13px 9px 31px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 9px 31px -17px rgba(0,0,0,0.75);
box-shadow: 13px 9px 31px -17px rgba(0,0,0,0.75);
}
