// compileCompressed: ../css/$1.css
.ng {

  &_nav{
    width: 100%;
    position: relative;
    display: table;
    margin-top: 40px;


    &__line-accross {
      position: absolute;
      background-color: rgb(119,119,119);
      height: 4px;
      width: 100%;
      top: 19px;
      // bottom: 0;
      margin: auto;
      z-index: -1;
    }
    &__menu {
      // padding: 0 41px;//change soon!!!!
      z-index: 100;
      .active {
        text-transform: uppercase;;
        color: rgb(253,204,5);
      }
      ul {
        width: 100%;
        position: relative;
        font-size: 0;
        li {
          // background-color: rgb(251,251,251);
          color: rgb(85,85,85);
          font-weight: 700;
          font-size: 16px;
          text-align: center;
          display: inline-block;
          width: 12.5%;
          &:hover {
            text-transform: uppercase;;
            color: rgb(253,204,5);
          }
          p {
            margin-top: 18px;
          }
          img {
            z-index: 100;
            padding: 0 4px; //maybe change
            background-color: rgb(251,251,251);
          }
        }
      }
    }
  }
}
