* {
  box-sizing: border-box;
}
html {
  font-family: Arial;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}
body {

}
.shph {
  &_container {
    width: 100%;
    display: table;
    position: relative;
    table-layout: fixed;
  }
  &_header {
    width: 100%;
    background-color: rgb(241, 107, 107);
    &__items {
      display: table;
      table-layout: fixed;
      width: 100%;
      color: black;
      font-size: 12px;
    }
    &__item {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
    }
    &__nav-menu {

      float: right;
    }
    &__nav-item {
      display:inline-block;
      padding: 15px 0;

      a {
        border-right: 1px solid black;
        display: inline-block;
        padding: 0 30px;
        text-transform: uppercase;
      }
      &:last-child a {
        border: none;
        padding: 0 0 0 30px;
      }
      &:hover {
        color: white;
      }

    }
    &__phone-item {

    }
    &__phone-icon {
      float: left;
      text-align: center;
      margin-right: 30px;
      img {
        width: 10px;
        height: auto;
      }
    }

  }
}
.rf_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
}
