// compileCompressed: ../css/$1.css
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import "variables";
@import "mixins";
* {
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6,td,li,a,ul,span {
  margin: 0;
  padding: 0;
  color: inherit;
  // font-size: inherit;
  font-family: inherit;
}
body {
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(251,251,251);
}
.ng_container {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 950px;
}
