@import "font-awesome-compass";
@import "font-awesome";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/style.scss */
html {
  font-family: Arial;
}

/* line 7, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
}

/* line 16, ../sass/style.scss */
.shph_container {
  width: 100%;
  display: table;
  position: relative;
  table-layout: fixed;
}
/* line 22, ../sass/style.scss */
.shph_header {
  width: 100%;
  background-color: #f16b6b;
}
/* line 25, ../sass/style.scss */
.shph_header__items {
  display: table;
  table-layout: fixed;
  width: 100%;
  color: black;
  font-size: 12px;
}
/* line 32, ../sass/style.scss */
.shph_header__item {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
/* line 37, ../sass/style.scss */
.shph_header__nav-menu {
  float: right;
}
/* line 41, ../sass/style.scss */
.shph_header__nav-item {
  display: inline-block;
  padding: 15px 0;
}
/* line 45, ../sass/style.scss */
.shph_header__nav-item a {
  border-right: 1px solid black;
  display: inline-block;
  padding: 0 30px;
  text-transform: uppercase;
}
/* line 51, ../sass/style.scss */
.shph_header__nav-item:last-child a {
  border: none;
  padding: 0 0 0 30px;
}
/* line 55, ../sass/style.scss */
.shph_header__nav-item:hover {
  color: white;
}
/* line 63, ../sass/style.scss */
.shph_header__phone-icon {
  float: left;
  text-align: center;
  margin-right: 30px;
}
/* line 67, ../sass/style.scss */
.shph_header__phone-icon img {
  width: 10px;
  height: auto;
}

/* line 75, ../sass/style.scss */
.rf_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
}
