/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/grid-system/variables.scss */
.row {
  *zoom: 1;
}
/* line 11, ../sass/grid-system/variables.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 16, ../sass/grid-system/variables.scss */
.row:after {
  clear: both;
}

@media only screen and (max-width: 765px) {
  /* line 4, ../sass/media-query.scss */
  .search-form {
    width: 420px !important;
  }

  /* line 9, ../sass/media-query.scss */
  .logo-container img {
    width: 300px !important;
  }

  /* line 14, ../sass/media-query.scss */
  .logo-container img {
    width: 400px !important;
  }
}
@media only screen and (max-width: 544px) {
  /* line 20, ../sass/media-query.scss */
  .search-form {
    width: 100% !important;
  }

  /* line 25, ../sass/media-query.scss */
  .logo-container img {
    width: 250px !important;
  }
}
/* line 5, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/style.scss */
body {
  font-family: Arial;
}

/* line 4, ../sass/style.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 8, ../sass/style.scss */
.container {
  max-width: 900px;
  position: relative;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/style.scss */
.search-button {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: #933c3f;
  color: #df1f25;
  padding: 9.6px;
}

/* line 24, ../sass/style.scss */
header {
  background-color: #3b3b3b;
  min-height: 300px;
}
/* line 27, ../sass/style.scss */
header .header-content {
  padding: 100px;
  display: table;
  margin: 0 auto;
}
/* line 31, ../sass/style.scss */
header .header-content .search-form {
  margin-top: 20px;
  position: relative;
  width: 650px;
  display: block;
}
/* line 37, ../sass/style.scss */
header .header-content #search {
  background-color: #df1f25;
  border: 1px solid #ffa834;
  padding: 10px;
  line-height: normal;
  border-radius: 4px;
  width: 100%;
}
/* line 47, ../sass/style.scss */
header .header-content .search-button {
  position: absolute;
  right: 1px;
  top: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 55, ../sass/style.scss */
header .logo-container {
  text-align: center;
}
/* line 59, ../sass/style.scss */
header .img-logo {
  width: 550px;
}

/* line 64, ../sass/style.scss */
.it-happens {
  background-color: #e4dfe1;
  min-width: 500px;
  box-shadow: 3px 7px 10px 1px #bababa;
  padding: 50px;
}
/* line 70, ../sass/style.scss */
.it-happens .stores-list-logo {
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #bfbfbf;
  max-width: 450px;
}
/* line 77, ../sass/style.scss */
.it-happens .store-container {
  box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.2);
  border-radius: 5px;
  height: 100%;
  background-color: white;
  padding: 10px 5px;
  text-align: center;
  margin: 0 5px;
}
/* line 85, ../sass/style.scss */
.it-happens .store-container .logo-store-container {
  height: 50px;
  width: 100%;
}
/* line 90, ../sass/style.scss */
.it-happens .store-container:hover .deal-container p {
  color: red;
}
/* line 93, ../sass/style.scss */
.it-happens .store-container:hover img {
  width: 80px;
}
/* line 98, ../sass/style.scss */
.it-happens .store-container p {
  color: lightgray;
  font-size: 10px;
  text-decoration: none;
}
/* line 105, ../sass/style.scss */
.it-happens .store-container img {
  width: 70px;
  margin-bottom: 10px;
}
/* line 110, ../sass/style.scss */
.it-happens .store-container .deal-container {
  padding: 10px;
  border-top: solid 1px black;
}
/* line 115, ../sass/style.scss */
.it-happens .items-container {
  font-size: 0;
}
/* line 118, ../sass/style.scss */
.it-happens .items-container li {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}
/* line 126, ../sass/style.scss */
.it-happens .it-happens-container {
  display: table;
  margin: 0 auto;
}
/* line 130, ../sass/style.scss */
.it-happens h1, .it-happens h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 1em;
  color: #df1f25;
}
/* line 136, ../sass/style.scss */
.it-happens h3 {
  clear: both;
  font-size: 18px;
  font-weight: normal;
}
/* line 141, ../sass/style.scss */
.it-happens h1 {
  font-size: 30px;
  font-weight: 700;
}

/* line 148, ../sass/style.scss */
.content {
  min-width: 500px;
  padding: 40px;
}
/* line 151, ../sass/style.scss */
.content .logo-container {
  text-align: center;
  color: #df1f25;
  font-size: 24px;
}
/* line 156, ../sass/style.scss */
.content .product-deals {
  display: table;
  padding: 10px;
}
/* line 159, ../sass/style.scss */
.content .product-deals span {
  display: table-cell;
  font-size: 14px;
  vertical-align: middle;
  color: #df1f25;
}
/* line 165, ../sass/style.scss */
.content .product-deals span img {
  margin-right: 10px;
}
/* line 170, ../sass/style.scss */
.content .product-name {
  padding: 10px;
  display: table;
  width: 100%;
}
/* line 174, ../sass/style.scss */
.content .product-name span {
  color: ligthgray;
  font-size: 14px;
  vertical-align: middle;
  display: table-cell;
  text-align: left;
  padding: 0;
  margin: 0;
}
/* line 183, ../sass/style.scss */
.content .product-name .link {
  text-align: right;
}
/* line 188, ../sass/style.scss */
.content .product {
  box-shadow: 3px 0px 10px 0px #bababa;
  border-radius: 5px;
}
/* line 192, ../sass/style.scss */
.content .product:hover .product-name {
  color: red !important;
}
/* line 197, ../sass/style.scss */
.content .product:hover .image-container-product img {
  width: 120px;
}
/* line 203, ../sass/style.scss */
.content .image-container-product, .content .product-name {
  border-bottom: 1px solid #d0d0d0;
}
/* line 206, ../sass/style.scss */
.content .image-container-product {
  padding: 10px;
  height: 100px;
  text-align: center;
}
/* line 211, ../sass/style.scss */
.content .image-container-product img {
  width: 100px;
}

/* line 217, ../sass/style.scss */
footer {
  background-color: #f4f4f4;
  min-height: 100px;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
}
/* line 225, ../sass/style.scss */
footer .copyright {
  font-size: 10;
}
/* line 229, ../sass/style.scss */
footer .top-link {
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 232, ../sass/style.scss */
footer .top-link a {
  color: lightgray;
}
/* line 234, ../sass/style.scss */
footer .top-link a:hover {
  text-decoration: underline;
}
/* line 239, ../sass/style.scss */
footer .copyright, footer .top-link {
  text-align: center;
  color: lightgray;
}

/* line 3, ../sass/grid-system/grid-system.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/grid-system/grid-system.scss */
[class*='col-md-'], [class*='col-lg-'], [class*='col-sm-'], [class*='col-xs-'] {
  float: left;
  padding: 10px;
  width: 100%;
  min-height: 1px;
}

@media only screen and (max-width: 544px) {
  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-1 {
    width: 8.33333%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-2 {
    width: 16.66667%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-3 {
    width: 25%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-4 {
    width: 33.33333%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-5 {
    width: 41.66667%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-6 {
    width: 50%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-7 {
    width: 58.33333%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-8 {
    width: 66.66667%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-9 {
    width: 75%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-10 {
    width: 83.33333%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-11 {
    width: 91.66667%;
  }

  /* line 20, ../sass/grid-system/grid-system.scss */
  .col-xs-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 544px) {
  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 28, ../sass/grid-system/grid-system.scss */
  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 37, ../sass/grid-system/grid-system.scss */
  .col-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 46, ../sass/grid-system/grid-system.scss */
  .col-lg-12 {
    width: 100%;
  }
}
