@import "mixins";
@import "variables";
*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    @include border-box;

}
.row {
    @extend %clearfix;
}
[class*='col-md-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
}
@media #{$breakpoint-extrasmall} {
  @for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
        width: 100% / $grid-columns * $i;
     }
  }
}

@media #{$breakpoint-small} {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
        width: 100% / $grid-columns * $i;
     }
  }
}

@media #{$breakpoint-medium} {
  @for $i from 1 through $grid-columns {

    .col-md-#{$i} {
        width: 100% / $grid-columns * $i;
     }

  }
}
@media #{$breakpoint-large} {
  @for $i from 1 through $grid-columns {

    .col-lg-#{$i} {
        width: 100% / $grid-columns * $i;
     }

  }
}
